    <div class="row">
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <div class="h2">
              {{ author.get_full_name }}
            </div>
            <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
        <strong class="d-block text-gray-dark">@{{ post.author }}</strong>
      </a>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h6 text-muted">
                Подписчиков: {{ author.following.count }} <br>
                Подписан: {{ author.follower.count }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Записей: {{ author.posts.count }}
              </div>
            </li>
          </ul>
          {% if request.user != author %}
            <li class="list-group-item">
              {% if following  %}
                <a
                  class="btn btn-lg btn-light"
                  href="{% url 'profile_unfollow' post.author.username %}" role="button">
                  Отписаться
                </a>
              {% else %}
                <a
                  class="btn btn-lg btn-primary"
                  href="{% url 'profile_follow' post.author.username %}" role="button">
                  Подписаться
                </a>
              {% endif %}
            </li>
          {% endif %}  
        </div>
      </div>