<!-- templates/about/author.html -->
{% extends "includes/base.html" %}
{% block title %}О технологиях{% endblock %}
{% block header %} {% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                О технологиях
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Когда-нибудь автору будет о чем здесь написать. 
                А пока можете вглянуть на рабочее место, где создавался этот великолепный проект..
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          {% load static %}
            <img src="{% static 'images/workplace.jpg' %}">          
        </div>
      </div>
    </div>
  </div>
{% endblock %}